---
import ResoursesItem from "./ResourcesItem.astro";
import { RESOURCES } from "@/consts/resources";

const itemId = RESOURCES.map(({ title, intro, image, resource, span }) => ({
  title,
  intro,
  image,
  href: `/recursos/${resource}`,
  span,
}));
---

<div class="flex size-full">
  <div class="w-full gap-2 grid grid-cols-12 grid-rows-2">
    {
      itemId.map((item) => (
        <ResoursesItem
          class={`col-span-12 sm:col-span-6 ${item.span}`}
          title={item.title}
          img={item.image}
          alt={`Enlace al recurso de ${item.title}`}
          href={item.href}
        >
          <span
            slot="description"
            class="absolute top-5 left-5 max-w-[calc(100%-40px)] text-base sm:text-sm lg:text-base text-base-color dark:text-white font-normal dark:font-extralight opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-opacity duration-500"
            set:html={item.intro}
          />
        </ResoursesItem>
      ))
    }
  </div>
</div>
