---
import Google from "@/icons/google.astro";
import Facebook from "@/icons/facebook.astro";
import X from "@/icons/x.astro";
import Eye from "@/icons/eye.astro";
import OffEye from "@/icons/off-eye.astro";
---

<div
  class="flex flex-col relative justify-center items-center p-8 size-full sm:min-w-[500px] rounded-xl bg-transparent sm:bg-white text-left sm:shadow-md shadow-black/20 font-normal text-base-color-m overflow-hidden"
>
  <form
    class="flex flex-col items-start justify-center size-full gap-6 mb-4 select-none"
    method="POST"
    action="/api/login"
  >
    <div class="flex relative w-full h-10 rounded bg-gray-200">
      <span class="flex justify-center items-center h-full pl-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-user size-5"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
          ></path><path
            d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
          ></path>
        </svg>
      </span>
      <input
        name="username"
        aria-label="Usuario o correo electrónico"
        type="text"
        class="z-10 input size-full bg-transparent border-none outline-none text-[13px] font-semibold focus:ring-0"
        required
      />
      <label
        class="absolute top-[50%] left-9 transform -translate-y-[50%] text-[13px] transition-all duration-300"
        >Usuario o correo electrónico</label
      >
    </div>

    <div class="flex relative w-full h-10 rounded bg-gray-200">
      <span class="flex justify-center items-center h-full pl-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-lock size-5"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
          ></path>
        </svg>
      </span>
      <input
        name="password"
        aria-label="Contraseña"
        id="passInput"
        type="password"
        class="z-10 input size-full bg-transparent border-none outline-none text-[13px] font-semibold focus:ring-0"
        required
      />

      <label
        class="absolute top-[50%] left-9 transform -translate-y-[50%] text-[13px] transition-all duration-300"
        >Contraseña
      </label>
      <button
        type="button"
        id="showButton"
        class="flex justify-center items-center h-full px-2 cursor-pointer hover:text-bittersweet-400 bottom-2"
      >
        <Eye id="eye" width="20" height="20" class="hidden" />
        <OffEye id="offEye" width="20" height="20" />
      </button>
    </div>
    <div
      class="flex w-full mt-[-15px] mx-0 justify-between text-[13px] text-gray-200 sm:text-inherit"
    >
      <label for="rememberme" class="flex items-center cursor-pointer">
        <input
          id="rememberme"
          type="checkbox"
          name="remember"
          class="mr-1 checked:bg-bittersweet-400 rounded-md focus:ring-0 focus:ring-offset-0 cursor-pointer"
        />Recordarme
      </label>
      <a
        href="#"
        class="hover:underline underline-offset-2"
        aria-label="¿Olvidaste tu contraseña?">¿Olvidaste tu contraseña?</a
      >
    </div>
    <button
      class="flex justify-center items-center h-10 w-full text-base rounded-full bg-[linear-gradient(to_right,rgb(242,112,156),rgb(255,148,114))] hover:brightness-90 active:scale-[.98] text-white shadow-md transition-all"
      >Iniciar sesión
    </button>
  </form>
  <div class="flex flex-row items-center justify-center w-full px-3 my-4">
    <hr class="flex-1 h-[1px] border-gray-200" />
    <span
      class="text-xs text-center mx-2 text-nowrap text-white sm:text-inherit"
      >o
    </span>
    <hr class="flex-1 h-[1px] border-gray-200" />
  </div>
  <div class="flex flex-col w-full gap-2">
    <button
      id="loginWithGoogle"
      class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-base-color-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
    >
      <div class="flex justify-center items-center flex-shrink-0">
        <Google width="18" height="18" />
      </div>
      <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
        >Continuar con Google
      </span>
    </button>
    <button
      id="loginWithFacebook"
      class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-base-color-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
    >
      <div class="flex justify-center items-center flex-shrink-0">
        <Facebook width="18" height="18" />
      </div>
      <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
        >Continuar con Facebook
      </span>
    </button>
    <button
      id="loginWithX"
      class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-base-color-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
    >
      <div class="flex justify-center items-center flex-shrink-0">
        <X width="16" height="16" />
      </div>
      <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
        >Continuar con X
      </span>
    </button>
  </div>
  <div
    class="flex items-center justify-center text-[13px] text-center self-center mt-2 text-gray-200 sm:text-inherit"
  >
    <p>
      ¿No tienes una cuenta? <a
        id="register-base-color"
        class="register-base-color font-bold sm:font-medium text-orient-600 sm:text-orient-700"
        href="/signup"
        aria-label="Regístrate"
        >Regístrate
      </a>
    </p>
  </div>

  <style>
    .input:focus ~ label,
    .input:valid ~ label {
      top: 12px;
      font-size: 10px;
    }

    .input:focus,
    .input:valid {
      padding: 14px 36px 2px 8px;
    }

    .show-btn {
      display: none;
    }

    .input:valid ~ .show-btn {
      display: block;
      bottom: 7px;
    }

    .input:valid ~ .show-btn-lock {
      display: none;
    }
  </style>
</div>

<script>
  import { $ } from "@/lib/dom-selector";

  const width = 600;
  const height = 700;
  const left = window.innerWidth / 2 - width / 2;
  const top = window.innerHeight / 2 - height / 2;

  const $googleLogin = $("#loginWithGoogle");
  const $facebookLogin = $("#loginWithFacebook");
  const $xLogin = $("#loginWithX");

  if ($googleLogin)
    $googleLogin.onclick = () => {
      window.open(
        "/auth/google",
        "Google login",
        `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`
      );
    };

  if ($facebookLogin)
    $facebookLogin.onclick = () => {
      window.open(
        "/auth/facebook",
        "Facebook login",
        `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`
      );
    };

  if ($xLogin)
    $xLogin.onclick = () => {
      window.open(
        "/auth/twitter",
        "Twitter login",
        `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`
      );
    };
</script>
<script>
  import { $ } from "@/lib/dom-selector";

  document.addEventListener("astro:page-load", () => {
    const passField = $("#passInput") as HTMLInputElement;
    const showButton = $("#showButton") as HTMLInputElement;
    const eye = $("#eye");
    const offEye = $("#offEye");

    showButton.onclick = () => {
      passField?.type === "password"
        ? ((passField.type = "text"),
          eye?.classList.remove("hidden"),
          offEye?.classList.add("hidden"))
        : ((passField.type = "password"),
          eye?.classList.add("hidden"),
          offEye?.classList.remove("hidden"));
    };
  });
</script>
