---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import ResourceTabs from "@/components/Resources/ResourceTabs";
import LiteYouTube from "@/components/LiteYouTube.astro";
import ChipBadge from "@/components/ReactComponents/ChipBadge";
import Image from "@/components/ReactComponents/Image";
import SearchHighlight from "@/components/Resources/SearchHighlight.astro";

interface Props {
  title: string;
  quote: string;
  videoTitle: string;
  videoLink: string;
  videoImage: string;
  imageFull: string;
  background?: string;
  component: AstroComponentFactory;
}

const {
  title,
  quote,
  videoTitle,
  videoLink,
  videoImage,
  imageFull,
  background,
  component: ContentComponent,
} = Astro.props;
---

<div class="relative flex justify-center size-full">
  <div class=`page-bg fixed inset-0 size-full bg-cover ${background} -z-10`>
  </div>
  <main
    class="relative flex flex-col min-h-[calc(100dvh-80px)] w-full max-w-[1250px] py-5 lg:px-5 shrink items-stretch grow"
  >
    <div class="absolute p-5 top-5 right-0 lg:right-5 z-10">
      <ChipBadge client:visible />
    </div>
    <div class="container mx-auto">
      <div class="flex flex-col w-full mx-auto">
        <div
          class="flex mb-5 border border-gray-100/50 dark:border-base-full-dark-80 backdrop-blur backdrop-saturate-150 shadow-md lg:rounded-xl overflow-hidden"
        >
          <ResourceTabs client:visible />
          <div
            class="group relative flex flex-col justify-center w-full h-[368px] lg:h-[422px] text-base-color overflow-hidden"
          >
            <div
              class="flex flex-col items-start justify-start absolute w-full shrink-0 top-1 px-5 pt-3 z-10 group-active:opacity-0 lg:group-hover:opacity-0 transition-opacity duration-500"
            >
              <span class="tetx-xs font-bold uppercase text-white/60"
                >introducción a</span
              >
              <h2 class="text-4xl font-bold text-white">
                {title}
              </h2>
            </div>
            <div
              class="absolute inset-0 flex items-center justify-center size-full opacity-0 group-active:backdrop-blur-lg group-active:opacity-100 lg:group-hover:backdrop-blur-lg lg:group-hover:opacity-100 transition duration-500 z-10"
            >
              <div
                class="relative flex items-center justify-center max-w-60 lg:max-w-2xl z-10 before:bg-black/40 before:absolute before:inset-0 before:blur-xl before:rounded-full before:-z-[1] group-active:scale-110 lg:group-hover:scale-110 transition duration-500"
              >
                <q
                  class="text-center lg:text-2xl text-white font-medium drop-shadow-sm"
                >
                  {quote}
                </q>
              </div>
            </div>
            <Image
              client:only="react"
              wrapper="size-full !max-w-full"
              className="relative size-full rounded-none brightness-95 object-cover object-center z-0"
              src={imageFull}
              alt={title}
            />
            <div
              class="absolute inset-0 bg-gradient-to-b from-base-full-dark-50 to-black/0 to-40%"
            >
            </div>
          </div>
        </div>
        <div
          id="content"
          class="relative text-base-color dark:text-base-color-dark"
        >
          <section class="px-5 lg:px-0 py-6">
            <div class="w-full">
              <div class="w-full flex items-center justify-center mb-6">
                <h3
                  class="drop-shadow-md text-white text-[15px] sm:text-2xl text-center font-semibold px-5 sm:px-10 py-2 bg-light-gradient dark:bg-dark-gradient-v2 rounded-full shadow-md border-2 border-white dark:border-base-dark"
                >
                  {videoTitle}
                </h3>
              </div>
              <LiteYouTube
                videoId={videoLink}
                title={videoTitle}
                backgroundImage={videoImage}
              />
            </div>
          </section>
          <SearchHighlight />
          <ContentComponent />
        </div>
      </div>
    </div>
  </main>
</div>
<style>
  html.dark .page-bg {
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
      radial-gradient(
        30.95% 86.8% at 30.69% 13.2%,
        rgba(66, 66, 66, 0.5) 0%,
        #333333 100%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 0%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 0%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-composite: source-in;
    mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
      radial-gradient(
        30.95% 86.8% at 30.69% 13.2%,
        rgba(66, 66, 66, 0.5) 0%,
        #333333 100%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 0%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 0%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    mask-composite: source-in !important;
    z-index: -1;
  }

  @media (max-width: 1024px) {
    html.dark .page-bg {
      -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
        radial-gradient(
          30.95% 86.8% at 30.69% 13.2%,
          rgba(66, 66, 66, 0.5) 0%,
          #333333 100%
        ),
        radial-gradient(
          51.31% 100% at 49.99% 24.75%,
          #000000 0%,
          #000000 0%,
          rgba(0, 0, 0, 0.18) 97%,
          rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
          51.31% 100% at 49.99% 24.75%,
          #000000 0%,
          #000000 0%,
          rgba(0, 0, 0, 0.18) 97%,
          rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-composite: source-in;
      mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
        radial-gradient(
          30.95% 86.8% at 30.69% 13.2%,
          rgba(66, 66, 66, 0.5) 0%,
          #333333 100%
        ),
        radial-gradient(
          51.31% 100% at 49.99% 24.75%,
          #000000 0%,
          #000000 0%,
          rgba(0, 0, 0, 0.18) 97%,
          rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
          51.31% 100% at 49.99% 24.75%,
          #000000 0%,
          #000000 0%,
          rgba(0, 0, 0, 0.18) 97%,
          rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
      mask-composite: source-in !important;
      z-index: -1;
    }
  }

  .on-scroll {
    view-timeline-name: --reveal;
    animation-name: reveal;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 30%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      scale: 0.8;
      translate: 0 100px;
    }
    50% {
      opacity: 0.1;
    }
    to {
      scale: 1;
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
