---
import RESOURCES_VIDEOS from "@/consts/resources-videos";
import { FITNESS_MODAL_DATA } from "@/consts/fitness-modal-data";
import LiteYouTube from "@/components/LiteYouTube.astro";
import ModalComponent from "@/components/ReactComponents/Modal";
const videos =
  RESOURCES_VIDEOS.find((section) => section.section === "ExerciseFitness")
    ?.videos || [];
---

<section class="px-5 py-6">
  <div class="w-full px-3 mb-8">
    <h3
      class="drop-shadow-md text-base-color dark:text-white text-2xl font-semibold"
    >
      <span
        class="px-2 bg-orient-700 dark:bg-cerise-red-400 text-white dark:text-black"
        >Rutinas</span
      > de Ejercicios
    </h3>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-10">
    {
      FITNESS_MODAL_DATA.map((modal) => (
        <ModalComponent
          tooltip="Ver rutina"
          modalSize="5xl"
          modalTitle={modal.modalTitle}
          modalImage={modal.modalImage}
          modalBody={modal.modalBody}
          astroComponentId={`astro-component-${modal.id}`}
          client:only="react"
        />
      ))
    }
  </div>
</section>

<!-- Contenedores ocultos para los componentes de Astro -->
<div id="astro-components" style="display: none;">
  {
    FITNESS_MODAL_DATA.map((modal, index) => (
      <div id={`astro-component-${modal.id}`} id={`astro-${modal.id}`}>
        <LiteYouTube
          videoId={videos[index]?.link}
          title={videos[index]?.title}
        />
      </div>
    ))
  }
</div>

<section class="px-5 py-6">
  <div class="w-full px-3 mb-8">
    <h3
      class="drop-shadow-md text-base-color dark:text-white text-2xl font-semibold"
    >
      <span
        class="px-2 bg-orient-700 dark:bg-cerise-red-400 text-white dark:text-black"
        >Música</span
      > para tu Entrenamiento 😎
    </h3>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0SZWVrotKn1?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DX76Wlfdnj7AP?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DXdDh4h59PJIQ?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4osfY3zybD2?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DX45grRWk2ghU?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <iframe
      class="on-scroll rounded-3xl shadow-medium border-2 border-white/30 box-content"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DX32NsLKyzScr?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
  </div>
</section>
