---
interface Props {
  class?: string;
  title: string;
  img?: string;
  alt?: string;
  href?: string;
}

const { class: className, title, img, alt, href } = Astro.props;
---

<div
  id="resource_card"
  class={`
    ${className}
    group flex flex-col relative
    text-foreground outline-none
    hover:shadow-lg hover:shadow-black/30
    rounded-xl transition-all hover:z-50
    motion-reduce:transition-none h-[250px] duration-500`}
>
  <div
    class="flex flex-col items-start justify-start absolute w-full shrink-0 top-1 px-5 pt-3 z-10"
  >
    <span
      class="text-tiny text-white/60 uppercase font-bold group-hover:opacity-0 transition-opacity"
      >Recurso
    </span>
    <h4
      class="text-white font-medium text-2xl group-hover:opacity-0 transition-opacity"
    >
      {title}
    </h4>
  </div>
  <img
    class="relative size-full object-cover rounded-xl brightness-95 duration-300 z-0 group-hover:brightness-75 blur-0 transition-all dark:group-hover:blur-lg"
    src={img}
    alt={alt}
  />
  <div
    class="absolute inset-0 rounded-xl bg-[linear-gradient(to_bottom,_rgba(0,_0,_0,_0.4)_0%,_rgba(0,_0,_0,_0)_40%)]"
  >
  </div>
  <div
    class="flex items-center justify-end absolute bottom-0 h-auto w-full p-3 text-inherit subpixel-antialiased rounded-b-xl bg-white/30 dark:bg-base-full-dark-40 border-t-1 border-gray-100/50 dark:border-base-full-dark-50 backdrop-blur backdrop-saturate-150 group-hover:pt-52 group-hover:bg-white/50 dark:group-hover:bg-base-full-dark-40 group-hover:rounded-xl transition-all duration-500"
  >
    <slot name="description" />
    <a
      href={href}
      class="relative inline-flex h-8 w-12 items-center justify-center overflow-hidden rounded-full cursor-pointer text-sm font-normal text-white shadow-md bg-[linear-gradient(to_right,rgb(242,112,156),rgb(255,148,114))] dark:bg-[linear-gradient(111.1deg,_rgb(0,_40,_70)_-100%,_rgb(255,_115,_115)_50%,_rgb(255,_175,_123)_97.2%)] transition-all duration-300 hover:brightness-90 active:scale-[.97] group-hover:w-20 group-hover:-translate-x-4"
      ><div
        class="inline-flex whitespace-nowrap opacity-0 transition-all duration-200 group-hover:-translate-x-3 group-hover:opacity-100"
      >
        Ver
      </div>
      <div class="absolute right-3.5">
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </a>
  </div>
</div>
