---
import { DATA_NEWS } from "@/consts/data-news";
import NewsGridItem from "./NewsGridItem.astro";

let lastItem = 0;
const initialNews = DATA_NEWS?.slice(0, 4).map((item: []) => item);
lastItem = initialNews.length;
const remainingNews = DATA_NEWS?.slice(4, 13).map((item: []) => item);

interface itemProps {
  title: string;
  author: string | undefined;
  publishedAt: string | undefined;
  urlToImage: string;
}
---

<div id="news-grid" class="grid grid-cols-12 gap-2 my-5">
  {
    initialNews.map((item: itemProps, index: number) => (
      <NewsGridItem
        class={index % 4 === 0 || index % 4 === 3 ? "col-span-7" : "col-span-5"}
        topic="bienestar emocional"
        title={item.title}
        imageAuthor="https://play-lh.googleusercontent.com/aRhlAJmDLUcr0awiooFzB7a4RncajITPWRIwYSUogHJf37MYN2CLtnTyl3LV6mwzzQ"
        author={item.author}
        date={item.publishedAt}
        views={120}
        image={item.urlToImage}
      />
    ))
  }
  {
    remainingNews.map((item: itemProps) => (
      <NewsGridItem
        class="col-span-4"
        topic="bienestar emocional"
        title={item.title}
        imageAuthor="https://play-lh.googleusercontent.com/aRhlAJmDLUcr0awiooFzB7a4RncajITPWRIwYSUogHJf37MYN2CLtnTyl3LV6mwzzQ"
        author={item.author}
        date={item.publishedAt}
        views={120}
        image={item.urlToImage}
      />
    ))
  }
</div>
