---
import { ViewTransitions } from "astro:transitions";
import ButtonUp from "@/components/ButtonUp.astro";
import SEO from "@/components/SEO.astro";
import type { Preload } from "@/types/Preload";
import LandingFooter from "@/components/Landing/LandingFooter.astro";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden anitaliased font-medium text-lg bg-gray-100">
    <div id="root">
      <slot />
      <LandingFooter />
      <ButtonUp />
    </div>
    <style is:global>
      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansThin.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansLight.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansRegular.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansMedium.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansBold.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansExtraBold.ttf);
      }

      html {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
      }

      body {
        &:has(dialog[open]) {
          overflow: hidden;
        }
      }

      @supports selector(::-webkit-scrollbar) {
        ::-webkit-scrollbar {
          width: 10px;
          height: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: rgb(250 128 114 / 70%);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        ::-webkit-scrollbar-thumb:active {
          background: rgb(250 128 114);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        @supports not selector(::-webkit-scrollbar) {
          * {
            scrollbar-color: transparent;
            scrollbar-width: thin;
          }
        }
      }
      .container-xl {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
      }

      .nav_link {
        position: relative;
        padding-bottom: 4px;
      }

      .nav_link::after {
        content: "";
        position: absolute;
        left: 15%;
        bottom: 0;
        height: 2px;
        width: 70%;
        background-color: rgb(33, 47, 61);
        border-radius: 2px;
        transform: scaleX(0);
        transition:
          transform 0.25s ease-in-out,
          background-color 0.25s ease-in-out;
      }

      .nav_link.active::after {
        transition: transform 0.25s ease-in-out 0.25s;
        transform: scaleX(1);
      }

      .nav_link:hover::after {
        transform: scaleX(1);
      }

      .translate_nav {
        animation: slide-down 0.5s;
      }

      @keyframes slide-down {
        0% {
          transform: translateY(-100%);
        }

        100% {
          transform: translateY(0);
        }
      }
    </style>
  </body>
</html>
