---
import type { Preload } from "@/types/Preload";
import { ViewTransitions } from "astro:transitions";
import SEO from "@/components/SEO.astro";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden anitaliased font-medium text-lg bg-gray-100">
    <div id="root">
      <slot />
    </div>
    <style is:global>
      :root {
        --color-base: #212f3d;
        --color-base-h: rgb(33 47 61 / 87%);
        --color-base-m: rgb(33 47 61 / 60%);
        --color-base-d: rgb(33 47 61 / 38%);

        --color-base-dark: #cbd5e1;
        --color-base-dark-h: rgb(203 213 225 / 87%);
        --color-base-dark-m: rgb(203 213 225 / 60%);
        --color-base-dark-d: rgb(203 213 225 / 38%);

        --background-dark: #061b37;
        --background-dark-90: rgb(6 27 55 / 90%);
        --background-dark-80: rgb(6 27 55 / 80%);
        --background-dark-70: rgb(6 27 55 / 70%);
        --background-dark-60: rgb(6 27 55 / 60%);
        --background-dark-50: rgb(6 27 55 / 50%);
        --background-dark-40: rgb(6 27 55 / 40%);
        --background-dark-30: rgb(6 27 55 / 30%);
        --background-dark-20: rgb(6 27 55 / 20%);
        --background-dark-10: rgb(6 27 55 / 10%);

        --bg-bento-gradient: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0.12) 12%,
          rgba(255, 255, 255, 0.04) 50%,
          rgba(255, 255, 255, 0.08) 83%,
          rgba(255, 255, 255, 0.2)
        );
        --landing-gradient: linear-gradient(
          68.4deg,
          rgb(248, 182, 204) 0.5%,
          rgb(192, 198, 230) 49%,
          rgb(225, 246, 240) 99.8%
        );
        --light-gradient: linear-gradient(
          to right,
          rgb(242, 112, 156),
          rgb(255, 148, 114)
        );
        --dark-gradient: linear-gradient(
          111.1deg,
          #061b37 -4.8%,
          rgb(255, 115, 115) 82.7%,
          rgb(255, 175, 123) 97.2%
        );
        --dark-gradient-v2: linear-gradient(
          111.1deg,
          #061b37 -100%,
          rgb(255, 115, 115) 82.7%,
          rgb(255, 175, 123) 97.2%
        );

        --bento-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.2),
          inset 0 0 0 3px rgba(255, 255, 255, 0.2);
      }

      @font-face {
        font-family: "Space Grotesk";
        font-optical-sizing: auto;
        font-weight: 300 700;
        font-style: normal;
        src: url(/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansThin.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansLight.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansRegular.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansMedium.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansBold.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansExtraBold.ttf);
      }

      html {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
      }

      body {
        &:has(dialog[open]) {
          overflow: hidden;
        }
      }

      @supports selector(::-webkit-scrollbar) {
        ::-webkit-scrollbar {
          width: 10px;
          height: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: rgb(250 128 114 / 70%);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        ::-webkit-scrollbar-thumb:active {
          background: rgb(250 128 114);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        @supports not selector(::-webkit-scrollbar) {
          * {
            scrollbar-color: transparent;
            scrollbar-width: thin;
          }
        }
      }
      .container-xl {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
      }

      .nav_link {
        position: relative;
        padding-bottom: 4px;
      }

      .nav_link::after {
        content: "";
        position: absolute;
        left: 15%;
        bottom: 0;
        height: 2px;
        width: 70%;
        background-color: #212f3d;
        border-radius: 2px;
        transform: scaleX(0);
        transition:
          transform 0.25s ease-in-out,
          background-color 0.25s ease-in-out;
      }

      .nav_link.active::after {
        transition: transform 0.25s ease-in-out 0.25s;
        transform: scaleX(1);
      }

      .nav_link:hover::after {
        transform: scaleX(1);
      }

      .translate_nav {
        animation: slide-down 0.5s;
      }

      @keyframes slide-down {
        0% {
          transform: translateY(-100%);
        }

        100% {
          transform: translateY(0);
        }
      }
    </style>
  </body>
</html>
