---
import { ViewTransitions } from "astro:transitions";

import ButtonUp from "@/components/ButtonUp.astro";
import Header from "@/components/Header.astro";
import SEO from "@/components/SEO.astro";
import type { Preload } from "@/types/Preload";

import Footer from "@/sections/Footer.astro";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;

const noHeader = "comunidad";
const noFooter = ["essentia-ai", "comunidad"];

const isNoHeader = Astro.url.pathname.includes(noHeader);
const isNoFooter = noFooter.some((path) => Astro.url.pathname.includes(path));
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body class="size-auto bg-gray-100 dark:bg-base-full-dark isolate">
    <div id="root">
      <div
        id="main"
        role="main"
        class="min-h-dvh flex flex-col items-center size-full page-bg bg-cover bg-light-gradient-v2 dark:bg-none"
      >
        {isNoHeader ? null : <Header />}
        <slot />
        {isNoFooter ? null : <Footer />}
      </div>
      <ButtonUp />
    </div>
    <div
      id="overlayModal"
      class="z-[998] invisible bg-overlay/70 w-screen h-dvh fixed inset-0 opacity-0 transition-[visibility,_opacity]"
    >
    </div>
    <style is:global>
      :root {
        --color-base: #212f3d;
        --color-base-h: rgb(33 47 61 / 87%);
        --color-base-m: rgb(33 47 61 / 60%);
        --color-base-d: rgb(33 47 61 / 38%);

        --color-base-dark: #cbd5e1;
        --color-base-dark-h: rgb(203 213 225 / 87%);
        --color-base-dark-m: rgb(203 213 225 / 60%);
        --color-base-dark-d: rgb(203 213 225 / 38%);

        --background-dark: #061b37;
        --background-dark-90: rgb(6 27 55 / 90%);
        --background-dark-80: rgb(6 27 55 / 80%);
        --background-dark-70: rgb(6 27 55 / 70%);
        --background-dark-60: rgb(6 27 55 / 60%);
        --background-dark-50: rgb(6 27 55 / 50%);
        --background-dark-40: rgb(6 27 55 / 40%);
        --background-dark-30: rgb(6 27 55 / 30%);
        --background-dark-20: rgb(6 27 55 / 20%);
        --background-dark-10: rgb(6 27 55 / 10%);
        --background-dark-f: #030e1e;
        --background-dark-f-90: rgb(3 14 30 / 90%);
        --background-dark-f-80: rgb(3 14 30 / 80%);
        --background-dark-f-70: rgb(3 14 30 / 70%);
        --background-dark-f-60: rgb(3 14 30 / 60%);
        --background-dark-f-50: rgb(3 14 30 / 50%);
        --background-dark-f-40: rgb(3 14 30 / 40%);
        --background-dark-f-30: rgb(3 14 30 / 30%);
        --background-dark-f-20: rgb(3 14 30 / 20%);
        --background-dark-f-10: rgb(3 14 30 / 10%);

        --bg-bento-gradient: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0.12) 12%,
          rgba(255, 255, 255, 0.04) 50%,
          rgba(255, 255, 255, 0.08) 83%,
          rgba(255, 255, 255, 0.2)
        );
        --light-gradient: linear-gradient(
          to right,
          rgb(242, 112, 156),
          rgb(255, 148, 114)
        );
        --light-gradient-v2: linear-gradient(
          68.4deg,
          rgb(248, 182, 204) 0.5%,
          rgb(192, 198, 230) 49%,
          rgb(225, 246, 240) 99.8%
        );
        --dark-gradient: linear-gradient(
          111.1deg,
          #061b37 -4.8%,
          #ff7373 82.7%,
          #ffaf7b 97.2%
        );
        --dark-gradient-v2: linear-gradient(
          111.1deg,
          #061b37 -100%,
          rgb(255, 115, 115) 82.7%,
          rgb(255, 175, 123) 97.2%
        );
        --bg-resource-1: linear-gradient(
          to right,
          rgb(182, 244, 146),
          rgb(51, 139, 147)
        );
        --bg-resource-2: linear-gradient(
          89deg,
          rgb(21, 74, 189) 0.1%,
          rgb(26, 138, 211) 51.5%,
          rgb(72, 177, 234) 100.2%
        );
        --bg-resource-3: radial-gradient(
          circle at 3% 4.8%,
          rgb(169, 224, 127) 0%,
          rgb(248, 247, 121) 86.6%
        );
        --bg-resource-4: linear-gradient(
          106.4deg,
          rgb(255, 104, 192) 11.1%,
          rgb(104, 84, 249) 81.3%
        );
        --bg-resource-5: linear-gradient(
          25deg,
          rgb(214, 76, 127),
          rgb(238, 71, 88) 50%
        );
        --bg-resource-6: linear-gradient(
          109.6deg,
          rgb(3, 195, 187) 11.2%,
          rgb(180, 196, 255) 91.1%
        );
      }

      @font-face {
        font-family: "Space Grotesk";
        font-optical-sizing: auto;
        font-weight: 300 700;
        font-style: normal;
        src: url(/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansThin.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansLight.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansRegular.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansMedium.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansBold.woff.ttf);
      }

      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/motiva-sans/MotivaSansExtraBold.ttf);
      }

      html {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
      }

      body {
        &:has(dialog[open]) {
          overflow: hidden;
        }
      }

      @supports selector(::-webkit-scrollbar) {
        ::-webkit-scrollbar {
          width: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: rgb(250 128 114 / 70%);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        ::-webkit-scrollbar-thumb:active {
          background: rgb(250 128 114);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        html.dark ::-webkit-scrollbar {
          width: 10px;
          border-radius: 10px;
          background-color: #030e1e;
        }

        html.dark ::-webkit-scrollbar-thumb {
          background: rgb(201 53 96 / 70%);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        html.dark ::-webkit-scrollbar-thumb:active {
          background: rgb(201, 53, 96);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 10px;
          border: 2px solid transparent;
          background-clip: content-box;
        }

        @supports not selector(::-webkit-scrollbar) {
          * {
            scrollbar-color: transparent;
            scrollbar-width: thin;
          }
        }
      }
    </style>
  </body>
</html>
